.activity__container {
  margin: 2rem 0;
  display: flex;
  /*flex-direction: column;*/
  height: 30rem;
  width: 30rem;
  justify-content: center;
  color: #444;
  padding-top: 2em;
  padding-left: 2em;
  border-radius: 12px;
 /* border: 1px solid #4f3580;*/
/* border-bottom: 1px transparent solid; */
}

.activity__container:hover {
  cursor: pointer;
  /* border-bottom: 1px rgba(68, 68, 68, 0.292) solid; */
  transform: translateY(-3px);
}

.col_1,
.col_2,
.col_3,
.info {
  display: inline-block;
}

.col_1_img {
  height: 50%;
  width: auto;
  border-radius: 12px;
  padding: 10px;
  background-color: #94C773;
  margin-right: 5rem;  
}

/* .col_1_img:nth-child(odd) {
  padding: 1rem;
  background-color: rgba(var(--dark-yellow));
} */

.info {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main__info,
.sub__info {
  font-size: 2.25rem;
  position: relative;
  text-align: center;
}

.col_2 {
  width: 10rem;
  align-items: center;
  justify-content: space-around;
}

.col_2_1 {
  height: 5rem;
  width: auto;
}

.col_3 {
 flex-direction: row;

}

.main__info{
  font-weight: 600;
}

.col_3_1 {
  font-weight: 600;
  font-size: 20px;
  padding-left: 40px;
}


.col_3_2 {
  /*width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: blue;*/
  font-weight: 600;
  position: absolute; 
  padding-left: 20px;
}
