.main__container {
  max-width: 170rem;
  height: 100vh;
  padding: 10rem 20rem;
  margin: auto;
  color: #fff;
}

.header__title {
  color: #444;
}

.wrapper {
  display: grid;
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
  grid-auto-flow: row;
  grid-auto-columns: 300px 100px;
}
