.scoreHeading{
    font-size:smaller;
    font-weight: bold;
}

.prevScore{
    display: inline-flex;
    column-gap: 40px;
}

.scoreul{
    list-style-type: none;
    font-size: medium;
    display: inline-block;
}

.dateul{
    list-style-type: none;
    font-size: medium;
    display: inline-block;
}