.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15rem;
  width: 20rem;
  margin: 0 3rem;
  padding: 1rem;
  color: black;
  background-color: #94C773;
  border-radius: 4rem;
  padding-top: 10px;
  text-align: center;
  
}

.card:hover {
  transform: scale(0.95);
}

.card__img {
  width: 3.5rem;
  height: auto;
  margin-left: 75px;

}

.card__upper {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  justify-content: space-around;
  height: 8rem;
  border-bottom: black 1px solid;
}

.card__upper span:first-child,
.card__lower span:last-child {
  font-weight: 600;
}

.card__lower {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 1rem;
}
