html,
.body {
  height: 100%;
}

.body {
  margin: 0;
  background: -webkit-linear-gradient(45deg, #49a09d, #5f2c82);
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 600px;
  overflow-y: scroll;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

table {
  width: 800px;
  height: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(59, 138, 85, 0.1);
}

th,
td {
  padding: 15px;
  background-color: rgba(114, 147, 155, 0.2);
  color: #2d9c2d;
}

th {
  text-align: left;
}

thead th {
  background-color: #1d73a5;
}

tbody tr:hover {
  background-color: rgba(14, 109, 138, 0.3);
}

tbody td {
  position: relative;
}

tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(3, 78, 16, 0.2);
  z-index: -1;
}

.padding {
  height: 9rem;
  width: 100%;
}

.navbar {
  height: 4.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  background-color: #f5efef;
  position: fixed;
  top: 4.5rem;
  width: 100%;
  font-size: 35px;
  z-index: 1000;
  text-align: center;
  border-bottom-style: double;
  border-color: rgb(11, 145, 155);
}

.header {
  text-align: center;
  padding-top: 5rem;
  color: #444;
  font-size: 22px;
  padding-bottom: 20px;
}

.twitter-share-button {
  font-size: 50px;
}

.headertxt {
  text-align: center;
}

.button[type="button"] {
  background-color: #086177;
}

.btnparent {
  display: flex;
  margin-left: 80.5rem;
}

.socialbtn {
  padding-top: 3px;
  display: flex;
  gap: 0.1px;
  margin-left: 28rem;
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}


.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.pagination button {
  margin: 0 5px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #1d73a5;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.pagination button.active {
  background-color: #04495a;
}

.pagination button:hover {
  background-color: #2d9c2d;
}