.cards {
  position: relative;
  margin-top: 3rem;
  padding: 5rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: #fff;
}

.cards__yellow {
  background-color: rgba(var(--light-yellow));
}

.cards__blue {
  background-color: rgba(var(--dark-blue));
}

.section {
  padding: 8rem 3rem;
  border-top: 1px solid #ddd;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(var(--dark-blue));
  margin-bottom: 1rem;
}

.section__title {
  position: absolute;
  top: 2rem;
  left: 10rem;
  max-width: 80rem;
  margin: 0 auto 4rem auto;
  font-size: 2.7rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(var(--dark-blue));
  margin-bottom: 1rem;
}
