.activity__container {
  margin: 2rem 0;
  display: flex;
  height: 30rem;
  width: 30rem;
  justify-content: center;
  color: #444;
  padding-top: 2em;
  padding-left: 2em;
  border-radius: 12px;
 /* border: 1px solid #4F3580; */
  /* border-bottom: 1px transparent solid; */
}

.activity__container:hover {
  cursor: pointer;
  /* border-bottom: 1px rgba(68, 68, 68, 0.292) solid; */
  transform: translateY(-3px);
}


.col_1,
.col_2,
.col_3,
.info {
  display: inline-block;
}

.col_1_img {
  height: 50%;
  width: auto;
  border-radius: 12px;
  padding: 10px;
  background-color: #94C773;
  position: relative;
  top: 25px;
  margin-right: 4.7rem;
}



.info {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 30px;
  /* background-color: aqua; */
}

.main__info,
.sub__info {
  font-size: 2.25rem;
}

.col_2 {
  width: 10rem;
  align-items: center;
  justify-content: space-around;
}

.col_2_1 {
  height: 5rem;
  width: auto;
}

.col_3 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__info,
.col_3_1 {
  font-weight: 600;
  
}

.col_3_2 {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: blue;
}
