.bg-container {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

.activity {
  position: relative;
  padding: 10rem;
  max-width: 120rem;
  height: 100vh;
  margin: auto;
}

.activity__progress {
  height: 3rem;
  border-radius: 5rem;
  background-color: #f7f7f7;
}

.activity__progress-FG {
  display: block;
  content: "";
  height: 3rem;
  width: 0%;
  z-index: 2;
  border-radius: 5rem;
  background-color: green;
  transform: translateY(-3rem);
  transition: all 0.2s ease-in;
}

.opts {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.idk {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* */
}

.select {
  width: 80%;
  margin: 5rem 0;
  display: flex;
  justify-content: space-between;
}

.card__mid {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.card__mid p {
  text-transform: uppercase;
  margin-top: 4rem;
  font-weight: 600;
  font-size: 2rem;
  padding: 2rem 4rem;
  background-color: rgba(var(--main-yellow));
  border-radius: 10px;
}
