.navbar {
  height: 4.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: #f5f5f5;
  position: fixed;
  top: 4.5rem;
  width: 100%;
  font-size: 35px;
  z-index: 1000;
  text-align: center;
  border-bottom-style: double;
  border-color: rgba(var(--dark-blue));
}

.add_post_btn {
  height: 3rem;
  width: 13rem;
  top: 4.5rem;
  right: 30rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  background: rgba(var(--dark-blue));
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem !important;
  position: fixed;
  z-index: 20000;
}
.add_post_btn:active {
  background: #4b6791;
}
.btn_container {
  top: 10%;
  margin-left: 80%;
}
.create_post_btn {
  height: 3rem;
  position: absolute !important;
  bottom: 1.7rem;
  right: 1.7rem;
  font-size: 15px;
  font-weight: 550;
  border-radius: 0.5rem !important;
  background: rgba(var(--dark-blue));
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem !important;
}

.text_area {
  font-size: 15px;
  min-width: 100%;
  max-width: 100%;
  min-height: 20%;
  max-height: 90%;
}

.homePage {
  width: 100%;
  min-height: calc(100vh - 50px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.homePage .post {
  width: 600px;
  height: auto;
  max-height: 700px;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 15px;
  padding: 20px;
  border-radius: 0.7rem;
  font-size: 22px;
}

.post .postTextContainer {
  word-wrap: break-word;
  height: auto;
  max-height: 400px;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.padding {
  height: 9rem;
  width: 100%;
}