.container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--black), 0.5);
  text-align: center;
  z-index: 50000;
  position: relative;
}

.pop__up {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 55rem;
  height: 50rem;
  border-radius: 10px;
  padding: 0rem 6rem;
  background-color: rgba(var(--white));
  position: relative;

}

.prompt__big {
  color: rgba(var(--dark-grey));
  padding-top: 50px;
}

.prompt__small {
  color: rgba(var(--dark-grey));
  margin: 2rem 0;
}

.choice__container {
  width: 60%;
}

.choices {
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
}
