button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.gameContainer {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px; /* Fixed width */
  height: 600px; /* Fixed height */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Soft shadow */
  box-sizing: border-box; /* Include padding and border in the container's dimensions */
  padding: 40px; /* Added padding */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.title {
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  position: absolute; /* Make title position absolute */
  top: 20px; /* Position it at the top of the container */
  left: 40px; /* Adjust based on your layout preference */
  width: calc(100% - 80px); /* Adjust width to respect padding */
  font-size: 32px;
  margin-bottom: 10px; /* Reduce or remove margin-bottom as it's now absolutely positioned */
  z-index: 10; /* Ensure it's above other content */
}
.scoreContainer {
  position: absolute;
  top: 50px;
  font-size: 28px; /* Increase font size for better visibility */
  margin-top: 20px; /* Adjust spacing as needed */
  width: 100%;
}
.wordsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Creates five columns */
  grid-template-rows: repeat(2, 1fr); /* Creates two rows */
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%; /* Ensure it occupies the full width of its parent */
}

.startButtonContainer {
  width: 100%; /* This ensures the container spans the full width */
  display: flex;
  justify-content: center;
  margin-right: 90px;
}


.wordButton { /* Apply the same style to startButton and wordButton */
  width: 100px; /* Same width and height for a square button */
  height: 100px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase; /* Capitalize button text */
  transition: background-color 0.3s; /* Smooth transition for color change */
  margin-bottom: 10px; /* Space between the start button and the grid */
  margin-left: 0px;
}


.progressContainer {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 20px;
  margin-bottom: 20px;
}

.progressBar {
  height: 20px;
  background-color: #76b852;
  width: 0; /* Initial state */
}

.completedMessage {
  font-size: 18px;
  margin-top: 20px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
  .wordsContainer {
    grid-template-columns: 1fr;
  }

  .wordButton {
    width: 80%; /* Adjust size for smaller screens */
    height: auto;
    padding: 20px;
  }
}

.startButton {
  width: auto; /* Adjust size for smaller screens */
  height: auto;
  padding: 20px;
  align-items: center;
  cursor: pointer;
  align-items: center !important;
  justify-content: center;
  text-transform: uppercase; /* Capitalize button text */
  margin-bottom: 20px;
  align-self: center !important;
  margin-right: 90px;
  margin-right: 0;
}
