.activity__container {
  display: flex;
  height: 30rem;
  width: 30rem;
  color: #444;
  padding-top: 2em;
  padding-left: 2em;
  border-radius: 12px;
  position: relative;
  margin-left: 14rem;
}


.activity__container:hover {
  cursor: pointer;
  /* border-bottom: 1px rgba(68, 68, 68, 0.292) solid; */
  transform: translateY(-3px);
}


.col_1,
.col_2,
.col_3,
.info {
  display: inline-block;
}

.col_1_img {
  height: 50%;
  width: auto;
  border-radius: 12px;
  padding: 10px;
  background-color: #94C773;
  text-align: center;
  margin-right: 40px;
}

.info {
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 5px;
  /* background-color: aqua; */
}

.main__info,
.sub__info {
  font-size: 2.25rem;
}
.sub__info {
  text-align: left;
}


.col_2 {
  width: 10rem;
  align-items: center;
  justify-content: space-around;
}

.col_2_1 {
  height: 5rem;
  width: auto;
}

.col_3 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__info,
.col_3_1 {
  font-weight: 600;
}

.col_3_2 {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: blue;

}
