.acts__container {
  margin-top: 2rem;
  display: grid;
  flex-direction: row;
  color: rgb(0, 0, 0);
}

.acts__title {
  max-width: 80rem;
  margin-top: 2rem;
}

.acts__title h2 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.display{
  display: inline-flex;
  gap: 50px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 10px;
  grid-template-areas:
    "a b"
    "c d";
  align-items: start;
  grid-auto-flow: row;
  grid-auto-columns: 300px 100px;
}