nav {
  position: relative;
}
.nav__ul {
  height: 4.5rem;
  font-weight: 600;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 40px;
  z-index: 1000;
}

.active,
.not__active {
  float: left;
  display: block;
  color: #444;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.not__active:hover {
  background-color: rgb(202, 202, 202);
}

.active {
  background-color: rgba(var(--dark-blue));
  color: #ffff;
}

.profile__items {
  padding: 0 1.5rem;
  width: 12rem;
  display: flex;
  height: 4.5rem;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 2rem;
  color: #444;
  margin-right: 2rem;
}

.profile__items:hover {
  opacity: 1;
  cursor: pointer;
  background-color: rgb(202, 202, 202);
}

.profile__pic_name {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img__container {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin: 0 0.5rem;
  border: #444 solid;
  overflow: hidden;
}

.profile__img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border: 0;
}

.notification__img {
  padding: 1rem 1rem;
  height: 4.5rem;
  width: auto;
}

.notification__img:hover {
  cursor: pointer;
  background-color: rgb(202, 202, 202);
}

.nav__right {
  display: flex;
  position: absolute;
  margin-right: 8rem;
  right: 0;
  z-index: 50000;
}

.list__container {
  opacity: 0;
  list-style-type: none;
  width: 100%;
  background-color: #f5f5f5;
  position: absolute;
  top: 4.5rem;
  right: 0rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--dark-yellow));
  overflow: hidden;
}

.profile__items:hover .list__container {
  opacity: 1;
  cursor: pointer;
  /* background-color: rgb(202, 202, 202); */
}

.list__item {
  background-color: #fff;
  font-weight: 200;
  display: flex;
  width: 12rem;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
  border-bottom: rgba(68, 68, 68, 0.3) 1px solid;
}

.list__item:hover {
  transform: translateX(3px);
}

.ul__img {
  width: 2rem;
  height: auto;
}

.list__item:hover {
}
